# Project exclude paths
/.gradle/
/grpc-client/build/
/grpc-client/build/classes/java/test/
/grpc-interface/build/
/grpc-interface/build/classes/java/main/
/grpc-server/build/
/grpc-server/build/classes/java/main/